.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.search {
    width: 1500px;
    height: 30px;
    opacity: 0.7;
}

#header-name {
    color: white;
    cursor: pointer;
}

.log-in {
    color: white;
    margin-right: 20px;
    cursor: pointer;
}

html {
    background-image: url(/images/pexels-hristo-fidanov-1252869.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }

 .top-right {
    margin: 20px;
    font-size: larger;
 }

 .sign-up {
    border: solid 1px black;
    background-color: white;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
 }

 .sign-up:hover {
    color: grey;
 }

 .middle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
 }

 .word-1 {
    color: white;
    font-size: 50px;
 }

 .word-2, .word-3 {
    color: white;
    font-size: 25px;
    margin: 3px;
    font-weight: lighter;
 }

 .button {
    color: black;
    font-size: 30px;
    border: solid white;
    border-radius: 3px;
    background-color: white;
    padding: 15px;
    margin-top: 50px;
    cursor: pointer;
 }

 .button:hover {
    color: grey;
 }

 .author{
    display: flex;
    flex-direction: column;
 }

 .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: grey;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    padding: 25px;
    cursor: pointer;
 }

 .text-1:hover {
    color: white;
 }
 .text-2:hover {
    color: white;
 }
 .text-3:hover {
    color: white;
 }
 .text-4:hover {
    color: white;
 }
 .text-4:hover {
    color: white;
 }
 .text-5:hover {
    color: white;
 }
 .text-6:hover {
    color: white;
 }
 .text-7:hover {
    color: white;
 }
 .text-8:hover {
    color: white;
 }
 .text-9:hover {
    color: white;
 }
 .text-10:hover {
    color: white;
 }
 .text-11:hover {
    color: white;
 }
 .text-12:hover {
    color: white;
 }
 .icon-1:hover {
    color: white;
 }
 .icon-2:hover {
    color: white;
 }
 .icon-3:hover {
    color: white;
 }

 .author {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 450px;
    color: white;
    cursor: pointer;
 }

 .author-1 {
    margin-bottom: 0;
 }

 .author-1:hover {
    text-decoration: underline;
 }
 .author-2:hover {
    text-decoration: underline;
 }

 @media screen 
